html, body, table, td, h1, h2, h3 { margin: 0; padding: 0; }
textarea, input { margin: 0; }
html, body {
	height: 100%;
}
body {
	background: #222;
	font-family: sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 10px 210px;
}
img {
	border: 0;
}

#container {
	width: 100%;
	height: 100%;
}

#canvas {
	width: 100%;
	height: 100%;
	background: white;
}

#sideBar {
	float: left;
	margin-left: -200px;
	height: 100%;
	width: 200px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
	background: #646464;
	overflow: auto;
}

#sideBar a {
	color: black;
}

#tools {
	text-align: center;
	position: relative;
	left: 50%;
	width: 123px;
	margin: 1em 0 1em -62px;
	background: #C0C0C0;
	border: 1px solid black;
}
#tools a {
	display: block;
	width: 24px;
	height: 24px;
	padding: 3px;
	float: left;
	border-right: 1px solid black;
}
#tools a:last-child {
	border: 0;
}
#tools a.selected {
	box-shadow: 2px 2px 3px #555 inset;
	padding: 4px 2px 2px 4px;
}
#tools:after {
	display: block;
	content: '';
	clear: both;
}

.option {
	background: #C0C0C0;
	border-bottom: 1px solid black;
	padding: 5px;
	border: 1px solid black;
	position: relative;
	margin-bottom: 10px;
}

.option h1 {
	font-size: medium;
	font-weight: bold;
	margin-bottom: 10px;
}
#stateInfo, #pathInfo {
	display: none;
} 
#name, #label {
	width: 100px;
}
#removeState, #removePath {
	margin-top: 10px;
}


#sizeControls {
	margin-bottom: 1ex;
}
.sizeButton {
	text-decoration: none;
	font-family: monospace;
	color: black;
	border: 1px solid black;
	padding: 0 3px;
	font-weight: bold;
}

#input {
	width: 170px;
}
.log {
	margin: 1ex 0;
}

#clearLogs {
	display: block;
	font-size: smaller;
	text-align: right;
}


#result {
	display: inline;
}
#result.error {
	display: block;
	padding: 4px;
	font-weight: bold;
}
