html, body, table, td, h1, h2, h3 { margin: 0; padding: 0; }
html, body {
	height: 100%;
}
body {
	background: #222;
	font-family: sans-serif;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px 10px 10px 210px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

#container {
	width: 100%;
	height: 100%;
}

#canvas {
	width: 100%;
	height: 100%;
	background: white;
}

#sideBar {
	float: left;
	margin-left: -200px;
	width: 200px;
	background: silver;
	height: 100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
}

#tools {
	text-align: center;
	margin: 1em 0;
}
#info {
	display: none;
	padding: 3px;
	border: 1px solid black;
	margin-bottom: 1em;
} 
#info h1 {
	padding: 3px;
	background: black;
	color: white;
	font-size: medium;
	font-weight: normal;
	margin-bottom: 5px;
}
#name {
	width: 100px;
}
#remove {
	margin-top: 1em;
}
.sizeButton {
	text-decoration: none;
	font-family: monospace;
	color: black;
	border: 1px solid black;
	padding: 0 3px;
	font-weight: bold;
}

#export {
	margin-top: 1em;
}
